<div>
    <h2>
        <span jhiTranslate="fuscApp.field.home.title">Fields</span>
        <button class="btn btn-primary float-right jh-create-entity create-field" [routerLink]="['/', { outlets: { popup: ['field-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fuscApp.field.home.createLabel">
            Create new Field
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fields">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fieldName"><span jhiTranslate="fuscApp.field.fieldName">Field Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="fuscApp.field.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mapLink"><span jhiTranslate="fuscApp.field.mapLink">Map Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerId"><span jhiTranslate="fuscApp.field.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let field of fields ;trackBy: trackId">
                <td><a [routerLink]="['../field', field.id ]">{{field.id}}</a></td>
                <td>{{field.fieldName}}</td>
                <td jhiTranslate="{{'fuscApp.FieldStatusType.' + field.status}}">{{field.status}}</td>
                <td>{{field.mapLink}}</td>
                <td>
                    <div *ngIf="field.ownerId">
                        <a [routerLink]="['../club', field.ownerId  ]" >{{field.ownerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../field', field.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field/'+ field.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field/'+ field.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="fields && fields.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
